[Unit]
Description=Startup Script for ptp4l
Requires=rswitch2-startup.service
After=rswitch2-startup.service

[Service]
ExecStart=/usr/sbin/ptp4l.sh start
ExecStop=/usr/sbin/ptp4l.sh stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
