[global]

# prefer to be a slave
priority1               128
priority2               128
# patched v1.4: transparent clock
tcCapable               1
announceReceiptTimeout 12
neighborPropDelayThresh 300000000
# for .1AS
follow_up_info          1
path_trace_enabled      1
#gmCapable               0
#staticslave             1
#slaveOnly               1

## transport
# for .1AS
transportSpecific       0x1
#default# ptp_dst_mac           01:1B:19:00:00:00
ptp_dst_mac             01:80:C2:00:00:0E
p2p_dst_mac             01:80:C2:00:00:0E

## interface
network_transport       L2
delay_mechanism         P2P
time_stamping           hardware


## Servo options
pi_offset_const         0.5
pi_f_offset_const       0.0000001
#sanity_freq_limit      00000000000
